// colors
$cornflower-blue: #09A6D4;
$tory-blue: #125392;
$white: #fff;
$dusty-gray: #979797;
$dove-gray: #666666;
$opacity-7: rgba(0,0,0,.7);
$opacity-8: rgba(0,0,0,.8);


// breakpoints

$bp-mobile: 300px;
$bp-tablet: 600px;
$bp-desktop: 1024px;

$bps: (
  'mobile': $bp-mobile,
  'tablet': $bp-tablet,
  'desktop': $bp-desktop
);

//font size rem

$base-font-size: 16px;