.footer {
    align-items: center;
    background: $cornflower-blue;
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 76px;

    @include from(tablet) {
        padding-top: 93px;
        padding-bottom: 93px;
    }

        &__container {
            align-items: center;
            display: grid;
            grid-gap: 18px;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            text-align: center;
            
            @include from(desktop) {
                display: flex;
                justify-content: space-between;
            }
        }
}