.footer {
    background: $cornflower-blue;
    padding: 24px 18px 76px 18px; 
    display: flex;
    align-items: center;
    justify-content: center;

    @include from(tablet) {
        padding: 93px 351px; 
    }
    

        &__container {
            align-items: center;
            justify-items: center;
            display: grid;
            grid-gap: 18px;
            grid-template-columns: repeat(2, 1fr);
            text-align: center;
            
            @include from(tablet) {
                display: flex;
                justify-content: center;
            }
        }
        

        
}