.language {
    z-index: 40;

    &__container {
        display: grid;
        min-height: 200px;
        padding: 40px 20% 70px 20%;
        text-align: center;
        
        @include from (tablet) {
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
            padding: 40px 20%;
        }
    }

    &__spanish {
        border-bottom: 1px solid $tory-blue;
        padding: 20px 0;

        @include from (tablet) {
            border-bottom: initial;
        }
    }

    &__english {
        padding: 20px 0;
    }
}