.btn {
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: space-evenly;
    max-width: 150px;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;

    @include from(tablet) {
        height: 40px;
        max-width: initial;
        width: 200px;
    }


        &__icon {
            display: flex;

            img {
                width: 50%;

                @include from(tablet) {
                    width: 70%;
                }

                @include from(desktop) {
                    width: 80%;
                }
            }
        }
        
        &--white {
            background: $white;
            color: $cornflower-blue;
        }
        &--footer {
            font-weight: 800;

            @include from(desktop) {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
}

// Close button

.close {
    background: $cornflower-blue;
    border-radius: 50%;
    cursor: pointer;
    padding: 7px;
    width: 27px;
}
