// footer pop up

.footer-popup {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    width: 100%;
    width: 100%;

    &__top {
        background: $opacity-7;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;

    }
    &__bottom {
        background: $white;
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
    }

    &__icon-container {
        padding: 7px 12px 0 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1100;

        @include from (tablet) {
            padding: 14px 14px 0 0;
        }
    }
}

.active-popup {
    display: inline-block;
}