.media-header {
    padding: 20px 0;
    display: block;
    text-align: center;
}

.search {
    display: grid;
    grid-gap: 5px;
    padding: 0 35px;
    text-align: center;

    @include from (tablet) {
        grid-template-columns: repeat(5, 1fr);
        padding: 30px 10%;
    }

    @include from (desktop) {
        grid-template-columns: repeat(5, 1fr);
        padding: 50px 15%;
    }

    &__box {
        align-items: center;
        border: 2px solid $cornflower-blue;
        display: flex;
        height: 30px;
        justify-content: space-between;

        &--input {
            border: none;
            height: 100%;
            padding-left: 8px;
            width: 80%;
            &:focus {
                outline: none;
            }
        }

        &--icon {

            &--search {
                display: block;
                margin: 0 8px;
                max-height:20px;
                max-width: 19px;
            }

            &--filter {
            display: block;
            margin: 0 8px;
            max-height:12px;
            max-width: 28px;
            }
        }

        &--grid-input {
            @include from (tablet) {
                grid-column-end: 3;
                grid-column-start: 1;
            }
            
        }
    }
}

.media {
    display: grid;
    grid-gap: 20px;
    padding: 20px 15px;

    @include from (tablet) {
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 10%;
    }

    @include from (desktop) {
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 15%;
    }

    &__container {
        background: $cornflower-blue;
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;

        &--title {
            display: inline-block;
            padding: 8px;
        }

        &--bg {
            align-items: center;
            background: url();
            display: flex;
            height: 140px;
            justify-content: center;

            &--icon {
                max-width: 45px;
            }
        }
    }
}